body {
  font-size: 100%;
  height: 100%;
  background-color: #ebebe0;
}

#title {
  position: absolute;
  top: 12%;
  left: 35%;
  width: 30%;
  height: 6%;
  /* background: #555; */
  color: black;
  font-size: 30px;
  /* 弹性盒子布局 */
  display: flex;
  /* 水平剧中*/
  justify-content: center;
  /* 垂直居中*/
  align-items: center;
}

#c_year {
  position: absolute;
  top: 15%;
  left: 10%;
  width: 30%;
  height: 6%;
}
#year-input {
  width: 150px; /* Set the width to your desired value */
  height: 30px; /* Set the height to your desired value */
}

#year-button {
  width: 150px; /* Set the width to your desired value */
  height: 30px; /* Set the height to your desired value */
}
#year-list {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 1000; /* Adjust this value as needed */
}
#year-list li {
  padding: 5px;
  cursor: pointer;
}
#year-list li:hover {
  background-color: #eee;
}

#left1 {
  background-color: #ebebe0;
  width: 50%;
  height: 80%;
  position: absolute;
  top: 20%;
  left: 50%;
}

#center {
  position: absolute;
  top: 20%;
  left: 0;
  width: 50%;
  height: 80%;
  background-color: #ebebe0;
}

#radar {
  position: absolute;
  top: 110%;
  left: 25%;
  width: 50%;
  height: 100%;
  background-color: #ebebe0;
}
